*{
    padding: 0;
    margin: 0;
}
body{
    background-color:white;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    position: sticky;
    top: 0%;
    z-index: 6;
    box-shadow: 0 0 20px lightgray;
}
nav img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid red;
    box-shadow: 0 0 20px lightgray;
}
nav i{
    color: black;
    border: 2px solid black;
    padding: 10px 15px;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
}
.button{
    background-color: tomato;
    padding: 8px 18px;
    border: none;
    border-radius: 8px;
    color: white;
}
.carousel-item img{
width: 100%;
height: 100vh;
}

/* Bootstrap custome carousel */
  .carousel-indicators [data-bs-target] {
	/* box-sizing: content-box;
    flex: 0 1 auto; */
    width: 10px !important; /* change width */
    height: 10px !important; /* change height */
    padding: 0;
    border-radius: 50%;
    margin-top: 50% !important;
  }
  .caption h1{
    font-size: 50px;
  }
  .carousel-item .caption{
    position: absolute;
    top:45%;
    left: 0%;
    right: 0;
    bottom: 0;
    color: #fff;
    text-align: center;
  }
.nav-list{
    position:fixed;
    top: 0;
    left: -700px;
    background-color: rgb(45, 45, 45);
    width: 20%;
    height: 100vh;
    z-index: 6;
    color: rgba(255, 255, 255, 0.843);
    transition: all ease-in-out 1s;
    cursor: pointer;
}
.nav-list i{
    font-size: 30px;
    padding: 10px 0 0 10px;
}
.nav-list-top{
    justify-content: center;
    text-align: center;
    padding: 15px;
}
.nav-list-top h4{
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
}
/* .nav-list-top p{
    font-size: 15px;
} */
.nav-list img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid red;
}
.nav-list ul li{
    display:block;
}
.nav-list ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.nav-list ul li a i{
    font-size: 15px;
    padding-right: 5px;
}
.nav-list p{
    text-align: center;
    font-size: 13px;
    padding:0 15px;
}
.nav-list-icons{
    display: flex;
    justify-content: center;
}
.nav-list-icons i{
    border: 1px solid white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 5px;
    font-size: 14px;
    padding: 0;
}

.bottom-icons{
    display: flex;
    padding:10px 20px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 4;
    width: 100%;
    bottom: 0;
    left: 0;
    padding:15px 100px;
    box-shadow: 0 0 10px lightgray;
}
.bottom-icons a{
    text-decoration: none;
    color: black;
    text-align: center;
    text-shadow:0 0 13px black;
}
.bottom-icons a i{
    text-shadow: none;
}

.section1{
    display: flex;
    justify-content:space-around;
    padding: 20px 120px;
}
.section1 p{
    color: black;
    text-align: center;
}
.section1 img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 10px;
}
/* .section1 img{
    padding: 20px;
} */

.section2{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
}
.section2-row{
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 20px lightgray;
    color: black;
    margin-bottom: 20px;
}
.tomato{
    background-color: tomato;
}

.blue{
    background-color: rgb(0, 136, 255);
}
.stars{
    background-color: rgb(255, 187, 0);
    display: inline-block;
    padding:0 5px;
    border-radius: 2px;
}
.stars i{
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.section2-row span{
    color: rgb(215, 200, 252);
}
@media(max-width:1000px){
    .carousel-item img {
        height: 100%;
    }
    .section1 {
        padding: 20px 10px 0px 10px;
    }
    .section1 img{
        width: 85px;
        height: 85px;
        box-shadow: 0 0 20px lightgray;
        margin: 10px;
    }
    .section2{
        flex-direction: column;
    }
    .nav-list-icons i{
        margin:15px 5px;
    }
    .nav-list{
        width: 55%;
    }
    .caption h1{
        font-size: 20px;
        padding: 0;
        margin: 0;
      }
      .caption p{
        font-size: 15px;
      }
     .carousel-item .caption{
        position: absolute;
        top:40%;
        left: 0;
        right: 0;
        bottom: 0;
        color: #fff;
        text-align: center;
      }
      .bottom-icons{
        padding: 15px 20px;
      }
      .nav-list-top{
        padding: 40px 0;
      }
      .nav-list ul{
        padding: 20px;
      }
      .nav-list hr{
        margin: 20px 0 10px 0;
      }
      .nav-list ul li a{
        font-size: 20px;
        padding: 10px;
      }
}
@media screen and (min-width:270px) and (max-width:700px){
    .carousel-item .caption{
        top: 30%;
    }
    .button{
        font-size: 15px;
        padding: 5px 18px;
        margin: 0;
    }
    .nav-list ul li a{
        font-size: 20px;
    }
    .section1 p{
        text-align: center;
        font-size: 13px;
    }
}


              /* settings */
.setting ul{
    padding: 0;
}
.setting ul li{
    display: block;
    padding: 5px 0;
}
.setting ul li a{
    color: black;
    text-decoration: none;
    display: flex;
    font-size: 19px;
    font-weight: 700;
}
.setting ul li a i{
    background-color: blue;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:0 10px 0 0;
    font-size: 14px;
    padding: 0;
    box-shadow: 0 0 10px lightgray;
}
.setting ul li a i.orange{
    background-color: orange;
}
.setting ul li a i.light-blue{
    background-color: rgb(0, 110, 255);
}
.setting ul li a i.green{
    background-color: rgb(5, 215, 5);
}
.setting ul li a i.white{
    background-color: white;
    color: wheat;
}
.setting ul li a i.tomato{
    background-color: tomato;
}

.switch{
    margin: 0 10px;
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
}
.slider{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 30px;
}
.slider:before{
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 50%;
}
input:checked + .slider{
    background-color: blue;
}
input:checked + .slider:before{
   transform: translateX(15px);
}
.switch input{
    display: none;
}
@media(max-width:700px){
    .setting ul li a{
        font-size: 11px;
    }
    .setting h3{
        font-size: 19px;
        padding: 5px 0;
    }
}

.verification{
    text-align: center;
    color: black;
    box-shadow: 0 0 10px lightgray;
    width: 40%;
    margin:50px auto;
    border-radius: 10px;
    padding: 50px;
}
.verification img{
    width: 100px;
    height: 100px;
    margin: 30px 0 50px 0;
    background-color: #fff;
    border-radius: 50%;
}
.verification p{
    text-align: left;
}
.verification p span{
    padding-right: 10px;
}
.verification div{
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.verification h1{
    font-size: 50px;
}
.blue-btn{
    margin:100px auto 20px auto;
    width: 200px;
    height: 50px;
}
.blue-btn button{
    border: none;
    background-color: rgb(0, 166, 255);
    width: 200px;
    height: 50px;
}
nav h2{
    color: #fff;
}

@media(max-width:1000px){
    .verification{
        width: 85%;
        padding: 20px;
    }
    .verification div{
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
    .verification h1{
        font-size: 50px;
    }
    .verification button{
        margin: 80px 0 50px 0;
        border: none;
        background-color: rgb(0, 166, 255);
        padding: 10px 50px;
    }
    .verification div i{
        color: rgb(0, 166, 255);
        padding-right: 5px;
    }
    .verification h3{
        padding: 10px 0;
    }
}

.login{
    text-align: center;
    color: white;
    /* box-shadow: 0 0 10px black; */
    width: 40%;
    margin:50px auto;
    border-radius: 10px;
    padding: 50px;
}
.login form{
    padding: 20px;
}
.login form input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(45, 45, 45);
    border-radius: 2px;
    margin: 10px 0;
    color: #fff;
    outline: none;
}
.login form img{
    width: 100px;
    height: 100px;
    margin: 30px 0 50px 0;
    border-radius: 50%;
    background-color: white;
}
.login h3{
    font-size: 20px;
}
.login button{
    margin: 80px 0 0px 0;
    border: none;
    background-color: rgb(0, 166, 255);
    padding: 10px 50px;
}
.login form button a{
    text-decoration: none;
    color: white;
}
.login form p a{
    font-size: 15px;
   color: rgb(0, 166, 255);
    text-decoration: none;
    text-align: right;

}
@media(max-width:1000px){
    .login{
        width: 85%;
        padding: 20px;
    }
    .login button{
        margin: 80px 0 50px 0;
        border: none;
        background-color: rgb(0, 166, 255);
        padding: 10px 50px;
    }
}